.trip {
    padding-bottom: 200px;
    @media (max-width: 900px) {
        padding-bottom: 100px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        @media (max-width: 900px) {
            flex-direction: column;
        }
    }

    &__title {
        text-align: left;
        margin-bottom: 31px;
        @media (max-width: 529px) {
            font-size: 36px;
            &-br {
                display: none;
            }
        }
    }

    &__card {
        display: flex;
        align-items: start;
        margin-bottom: 31px;
        &:last-child {
            margin-bottom: 0;
        }
        &-info {
            margin-left: 21px;
        }
        &-title {
            margin-top: 0;
            margin-bottom: 4px;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 124.5%;
            color: $grey;
        }
        &-text {
            margin: 0;
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 124.5%;
            color: $grey;
        }
        &-br {
            @media (max-width: 420px){
                display: none;
            }
        }
    }

    &__right {
        background: #FFFFFF;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
        0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
        0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
        0px 20px 13px rgba(0, 0, 0, 0.01),
        0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
        0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
        border-radius: 26px;
        padding: 20px 25px 30px 25px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 354px;
            height: 367px;
            background: #59b1e6;
            opacity: 0.8;
            filter: blur(150px);
            z-index: -1;
            top: -56px;
            left: 87px;
            @media (max-width: 996px) {
                left: -132px;;
            }
        }
        @media (max-width: 900px) {
            margin-top: 50px;
        }

        
        &-title {
            margin-top: 26px;
            margin-bottom: 13px;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 124.5%;
            letter-spacing: 0.015em;
            color: #080809;
        }
        &-info {
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 124.5%;
            letter-spacing: -0.005em;
            color: $grey;
        }

        &-day {
            &::after {
                content: "|";
            }
        }

        &-list{
            display: flex;
            padding: 0;
            margin-top: 21px;
            margin-bottom: 30px;
        }

        &-item {
            list-style: none;
            margin-right: 13px;
            &:last-child {
                margin-right: 0;
            }
        }

        &-people {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-info {
                display: flex;
                align-items: center;
            }
        }

        &-num {
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 124.5%;
            letter-spacing: -0.02em;
            color: $grey;
            margin-left: 15px;
        }
    }
    &__heart {
        &:hover {
            content: url(../img/heart-activ.png);
            cursor: pointer;
            width: 20px;
            height: 20px;
        }
    }

    &__ongoin {
        display: flex;
        align-items: start;
        position: absolute;
        background: #FFFFFF;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
        0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
        0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
        0px 20px 13px rgba(0, 0, 0, 0.01),
        0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
        0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
        border-radius: 18px;
        padding: 16px 25px 22px 20px;
        width: 263px;
        top: 219px;
        left: 86%;

        @media (max-width: 996px) {
            display: none;
        }

        &-info {
            margin-left: 11px;
        }

        &-title {
            margin-top: 6px;
            margin-bottom: 14px;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 124.5%;
            letter-spacing: -0.015em;
            color: #080809;
        }

        &-span {
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 124.5%;
            letter-spacing: -0.035em;
            color: #8A79DF;
            &-top {
                color: #84829A;
            }
            &-bottom {
                color: #080809;
                letter-spacing: -0.055em;
            }
        }

        &-input {
            margin-top: 10px;
            width: 156px;
        }
    }
}